*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar{
    background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    background-repeat: no-repeat;
    background-size: 3000px 55px;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    width: 120px;
    margin: 3px;
    padding: 3px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #34e40c;
    border-radius: 3px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    font-size: 12px;
    display: block;
    position: absolute;
    background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    margin-top: 2px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
}
.sub-menu-3{
    display: none;
}
.menu-bar ul li:hover .sub-menu-3{
    font-size: 12px;
    display: block;
    position: absolute;
    background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    margin-top: 2px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-3 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-3 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-3 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-3 ul li a:hover{
    color: #b2ff00;
}
.sub-menu-4{
    display: none;
}
.menu-bar ul li:hover .sub-menu-4{
    font-size: 12px;
    display: block;
    position: absolute;
    background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    margin-top: 2px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-4 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-4 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-4 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-4 ul li a:hover{
    color: #b2ff00;
}
.sub-menu-5{
    display: none;
}
.menu-bar ul li:hover .sub-menu-5{
    font-size: 12px;
    display: block;
    position: absolute;
    background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    margin-top: 2px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-5 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-5 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-5 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-5 ul li a:hover{
    color: #b2ff00;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.picture{
    width: 400px;
    height: 250px;
    margin-top: 5px;
    margin-left: 50px;
}
.container .background-clip{
    width: 1200px;
    height: 600px;
    margin-top: 15px;
    margin-left: 0px;
} 
.example{
    margin-top: 28px;
    margin-right: 5px;
}
